body {
  color: #284b63;
  font-family: "helvetica", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}


/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  font-family: "goudy old style", Times, serif;
  font-size: 48px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}